<p><em>&nbsp;</em></p>
<p align="center"><strong><span style="text-decoration: underline;">EXMO(A). SR(A). DR(A). JUIZ(&Iacute;ZA) DE DIREITO DA __&nbsp;&nbsp;&nbsp; VARA C&Iacute;VEL DA COMARCA DE CONSELHEIRO LAFAIETE/MG</span></strong></p>
<p align="center"><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
<p align="center"><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
<p align="center"><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
<p align="center"><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
<p align="center"><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
<p align="right"><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
<p align="right"><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
<p><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
<p><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="text-decoration: underline;">LUIZ JOSAF&Aacute; LOPES</span></strong>, brasileiro, casado, aposentado, portador do RG MG-4.090.991, SSP/MG, CPF 499.773.696-15, filho de Jos&eacute; Veriano Lopes e Cec&iacute;lia Lopes do Carmo, residente e domiciliado na Rua Luiz Ladislau, N&ordm;. 076-B, bairro S&atilde;o Jo&atilde;o, munic&iacute;pio de Conselheiro Lafaiete/MG, CEP 36.400-00; tendo constitu&iacute;do como seus procuradores o <strong><span style="text-decoration: underline;">DR. LUCIANO DA SILVA MEIRELES</span></strong>, brasileiro, casado, advogado, inscrito na OAB/MG sob o n&uacute;mero 108.378; e o <strong><span style="text-decoration: underline;">DR. FABR&Iacute;CIO RESENDE RODRIGUES</span></strong>, brasileiro, casado, advogado, inscrito na OAB/MG sob o n&uacute;mero 117.425; ambos com escrit&oacute;rio profissional situado na Avenida Prefeito Tel&eacute;sforo C&acirc;ndido de Resende, N&ordm;. 947, sala 306, Edif&iacute;cio WM Center, bairro Centro, munic&iacute;pio de Conselheiro Lafaiete/MG, CEP 36.400-000; veem mui respeitosamente perante Vossa Excel&ecirc;ncia propor <strong><span style="text-decoration: underline;">A&Ccedil;&Atilde;O ORDIN&Aacute;RIA DE REVIS&Atilde;O CONTRATUAL CUMULADA C/C REPETI&Ccedil;&Atilde;O DE IND&Eacute;BITO</span></strong>; em desfavor de <strong><span style="text-decoration: underline;">MERCANTIL DO BRASIL FINANCEIRA S/A</span>, </strong>pessoa jur&iacute;dica de direito privado constitu&iacute;da sob a forma de sociedade an&ocirc;nima, portadora do CNPJ 33.040.601/0001-87, com sede situada na Rua Rio de Janeiro, N&ordm;. 654, bairro Centro, munic&iacute;pio de Belo Horizonte/MG, CEP 30.160-912; pelos motivos de fato e de direito adiante aduzidos:</p>
<p>&nbsp;</p>
<p align="center"><strong>I &ndash; Dos Fatos</strong></p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Conforme se depreende dos documentos que instruem a presente inicial, o Demandante celebrou em 17/11/2011 com o Demandado aven&ccedil;a de ades&atilde;o de C&eacute;dula de Cr&eacute;dito Banc&aacute;rio para o financiamento do ve&iacute;culo FIAT IDEA ELX 1.4 8V, ANO/MODELO 2006/2006, PLACA JVE-6101, garantido por aliena&ccedil;&atilde;o fiduci&aacute;ria.</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A supracitada C&eacute;dula de Cr&eacute;dito Banc&aacute;rio fora assinada para permitir o financiamento do valor primitivo de R$ 11.500,00 (onze mil e quinhentos reais), para viabilizar a compra do ve&iacute;culo supracitado, pois o Demandante deu de entrada o valor de R$ 16.500,00 (dezesseis mil e quinhentos reais).</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>In casu</em>, o valor financiado foi de R$ 11.500,00 (onze mil e quinhentos reais), sendo que a C&eacute;dula de Cr&eacute;dito Banc&aacute;rio deveria ser quitada em 48 (quarenta e oito) parcelas de R$ 397,94 (trezentos e noventa e sete reais e noventa e quatro centavos).</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Entretanto, restar&aacute; demonstrado ao final a exist&ecirc;ncia de abusividade no contrato revisando, vez que a taxa cobrada pela Institui&ccedil;&atilde;o Financeira demandada se mostrou acima da m&eacute;dia de mercado, divulgada regularmente pelo Banco Central do Brasil, autorizando, portanto, que o Demandante busque a tutela jurisdicional para a satisfa&ccedil;&atilde;o de seus interesses.</p>
<p>&nbsp;</p>
<p align="center"><strong>II &ndash; No M&eacute;rito</strong></p>
<p>&nbsp;</p>
<p>Inicialmente cumpre ressaltar que o malfadado contrato discutido nestes autos, apesar de ser regido por lei especial que autorize capitaliza&ccedil;&atilde;o de juros com periodicidade inferior a ano, n&atilde;o dispensa que a Institui&ccedil;&atilde;o Financeira estabele&ccedil;a os juros da aven&ccedil;a em desconformidade com &agrave;s taxas m&eacute;dias de mercado, calculadas regularmente pelo Banco Central do Brasil.</p>
<p>&nbsp;</p>
<p>Neste diapas&atilde;o, configura-se como abusiva a conduta do Demandando quando da aplica&ccedil;&atilde;o de juros exacerbados no contrato em an&aacute;lise, em desconformidade com o &oacute;rg&atilde;o regulamentador do Sistema Financeiro Nacional.</p>
<p>&nbsp;</p>
<p>Assim, resta extreme de controv&eacute;rsia, que al&eacute;m de infringir as normas da boa t&eacute;cnica banc&aacute;ria, a Institui&ccedil;&atilde;o Financeira Demandada agiu de forma dolosa visando maximizar seus lucros atrav&eacute;s da cobran&ccedil;a juros e encargos em percentuais acima daqueles legalmente permitidos pelo Banco Central do Brasil</p>
<p>&nbsp;</p>
<p>Em face das alt&iacute;ssimas taxas de juros e encargos financeiros praticados pelo Banco Demandado, o Demandante vem tendo extremo preju&iacute;zo financeiro, pois que ultrapassados, de forma exorbitante, &agrave;s taxas m&eacute;dias de mercado, evidenciando a locupleta&ccedil;&atilde;o do Banco &agrave;s suas custas.</p>
<p>Nesta ordem de ideias, pretende o Demandante que sejam modificadas aquelas cl&aacute;usulas que efetivamente destoam das disposi&ccedil;&otilde;es do C&oacute;digo de Defesa do Consumidor, mormente as que estabele&ccedil;am obriga&ccedil;&otilde;es consideradas abusivas, j&aacute; que o coloca em demasiada desvantagem perante a Institui&ccedil;&atilde;o Financeira.</p>
<p>&nbsp;</p>
<p>Tal pretens&atilde;o encontra guarida no comando legal contido no Art. 6&ordm;, V, do <em>Codex </em>Consumerista, segundo o qual se permite a modifica&ccedil;&atilde;o de cl&aacute;usulas contratuais, independentemente de haver fato superveniente e imprevis&iacute;vel, haja vista que a exist&ecirc;ncia de presta&ccedil;&otilde;es desproporcionais, como ocorre no caso vertente, onde h&aacute; flagrante desconformidade de cl&aacute;usulas contratuais com o ordenamento jur&iacute;dico vigente, j&aacute; &eacute; o bastante para se autorizar o ajustamento de cl&aacute;usulas.</p>
<p>&nbsp;</p>
<p>Preconiza o Art. 6&ordm; do C&oacute;digo de Defesa do Consumidor, <em>in verbis</em>:</p>
<p>&nbsp;</p>
<p><em>&ldquo;Art. 6&ordm; - S&atilde;o direitos b&aacute;sicos do consumidor:</em></p>
<p><em>Omissis...</em></p>
<p><em><span style="text-decoration: underline;">VI &ndash; A modifica&ccedil;&atilde;o das cl&aacute;usulas contratuais que estabele&ccedil;am presta&ccedil;&otilde;es desproporcionais ou sua revis&atilde;o em raz&atilde;o de fatos supervenientes que as tornem excessivamente onerosas</span></em><em>&rdquo;.&nbsp; (<span style="text-decoration: underline;">grifei</span>)</em></p>
<p>&nbsp;</p>
<p>Neste diapas&atilde;o, o Art. 51 do C&oacute;digo de Defesa do Consumidor preconiza:</p>
<p>&nbsp;</p>
<p><em>&ldquo;Art. 51 &ndash; S&atilde;o nulas de pleno direito, entre outras, as cl&aacute;usulas contratuais relativas ao fornecimento de produtos e servi&ccedil;os que: </em></p>
<p><em>Omissis...</em></p>
<p><em><span style="text-decoration: underline;">IV &ndash; estabelecerem obriga&ccedil;&otilde;es consideradas in&iacute;quas, abusivas, que coloquem o consumidor em desvantagem exagerada, ou sejam incompat&iacute;veis com a boa-f&eacute; ou equidade</span></em><em>&rdquo;. (<span style="text-decoration: underline;">grifei</span>)</em></p>
<p>&nbsp;</p>
<p>Nos termos do artigo mencionado, s&atilde;o nulas de pleno direito, entre outras, as cl&aacute;usulas contratuais relativas ao fornecimento de produtos e servi&ccedil;os, dentre eles, os banc&aacute;rios, j&aacute; que se tem a institui&ccedil;&atilde;o financeira como integrada pelo conceito de fornecedor, que estabele&ccedil;am obriga&ccedil;&otilde;es que coloquem o consumidor em desvantagem exagerada.</p>
<p>&nbsp;</p>
<p>Neste sentido, sufragam os Tribunais:</p>
<p>&nbsp;</p>
<p><em>"Processual Civil - (...) - A&ccedil;&atilde;o revisional de contrato - C&oacute;digo de Defesa do Consumidor - Contratos banc&aacute;rios - Aplica&ccedil;&atilde;o do sistema de prote&ccedil;&atilde;o do consumidor aos servi&ccedil;os banc&aacute;rios - Incid&ecirc;ncia da norma especial sobre os contratos banc&aacute;rios - Capitaliza&ccedil;&atilde;o - Vedada a capitaliza&ccedil;&atilde;o di&aacute;ria de juros - Capitaliza&ccedil;&atilde;o mensal - (...) - 3. Sendo banc&aacute;ria a atividade relativa ao pacto, regula-o o CDC, eis que, particularmente, entendo que aplic&aacute;vel quando se trata de empr&eacute;stimo direto ao consumidor. 4. N&atilde;o se pode dar ao consagrado princ&iacute;pio do pacta sunt servanda o abomin&aacute;vel alcance pretendido pela arrendante, ora r. &eacute; mister seja lembrada a possibilidade de o estado moderno intervir nas rela&ccedil;&otilde;es contratuais que outrora eram tidas por imacul&aacute;veis, j&aacute; que constru&iacute;das segundo ditames privat&iacute;sticos. A capitaliza&ccedil;&atilde;o s&oacute; &eacute; poss&iacute;vel, em existindo expresso dispositivo de lei que a admita... Caso contr&aacute;rio, vige a S&uacute;mula n&ordm; 121, do STF, n&atilde;o revogada pela S&uacute;mula n&ordm; 596, do mesmo pret&oacute;rio." (Apela&ccedil;&atilde;o C&iacute;vel n&ordm; 131231000, TAPR, Rel. Juiz Jurandyr Souza J&uacute;nior, 4&ordf; C&acirc;mara C&iacute;vel, p. no DJPR de 24.09.99). </em></p>
<p>&nbsp;</p>
<p>Da tese ora defendida na presente <em>exordial</em>, depreende-se que os juros contratuais devem efetivamente ser revistos, uma vez que ultrapassam &agrave;s taxas m&eacute;dias de mercado estabelecidas pelo Banco Central do Brasil, configurando, <em>in casu</em>, o anatocismo.</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Assim, quanto &agrave; limita&ccedil;&atilde;o do percentual de juros remunerat&oacute;rios aplic&aacute;vel ao contrato, entendo, analisando o caso concreto, que &eacute; admiss&iacute;vel a revis&atilde;o das taxas de juros remunerat&oacute;rios em situa&ccedil;&otilde;es excepcionais, desde que caracterizada a rela&ccedil;&atilde;o de consumo e que a abusividade fique evidenciada, s&oacute;i como acontecido <em>in casu</em>, uma vez que a taxa contratada est&aacute; acima da m&eacute;dia de mercado, divulgada pelo Banco Central do Brasil, pois a taxa questionada foi pactuada no patamar de 31,37% (trinta e um, trinta e sete por cento) ao ano e a divulgada pelo BACEN para o per&iacute;odo da contrata&ccedil;&atilde;o, ou seja, para o m&ecirc;s de Outubro/2011 foi 26,20% (vinte e seis, vinte por cento) ao ano.</p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>Assim, a limita&ccedil;&atilde;o dos juros entabulados no contrato dever&aacute; ocorrer de acordo com a taxa mencionada, pois se mostrou muito superior &agrave;queles apurados pelo Banco Central.</p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>Perceba-se que o Demandante, na condi&ccedil;&atilde;o de consumidor, det&eacute;m o direito de ser restitu&iacute;do em dobro em rela&ccedil;&atilde;o aos valores pagos, afastando a pr&aacute;tica abusiva do contrato, diante do que disp&otilde;e o par&aacute;grafo &uacute;nico do Art. 42 do C&oacute;digo de Defesa do Consumidor, sen&atilde;o vejamos:</p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p><em>"Art. 42 (omissis)</em></p>
<p><em>Par&aacute;grafo &uacute;nico. O consumidor cobrado em quantia indevida tem direito &agrave; repeti&ccedil;&atilde;o do ind&eacute;bito, por valor igual ao dobro do que pagou em excesso, acrescido de corre&ccedil;&atilde;o monet&aacute;ria e juros legais, salvo hip&oacute;tese de engano justific&aacute;vel."</em></p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>O ilustre doutrinador Ant&ocirc;nio Herman de Vasconcelos e Benjamin comentando sobre o referido par&aacute;grafo, disse o seguinte:</p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p><em>"Muitas vezes, a cobran&ccedil;a indevida n&atilde;o decorre de erro de c&aacute;lculo stricto sensu, mas da ado&ccedil;&atilde;o, pelo credor, de crit&eacute;rios de c&aacute;lculo e cl&aacute;usulas contratuais financeiras n&atilde;o conformes com o sistema legal de prote&ccedil;&atilde;o do consumidor.</em></p>
<p><em>Tal se d&aacute;, por exemplo, quando o fornecedor utiliza cl&aacute;usula contratual abusiva, assim considerada pela lei ou por decis&atilde;o judicial. Nesse sentido j&aacute; se manifestou o STJ, pela voz do min. Aldir Passarinho Junior:" Admite-se a repeti&ccedil;&atilde;o do ind&eacute;bito de valores pagos em virtude de cl&aacute;usulas ilegais, em raz&atilde;o do princ&iacute;pio que veda o enriquecimento injustificado do credor "." (C&oacute;digo Brasileiro de Defesa do Consumidor, comentado pelos autores do anteprojeto, 8 ed., Rio de Janeiro: Forense, 2004, p. 397-398)</em></p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>Desta forma, deve-se ser restitu&iacute;do ao Demandante o valor pago a maior em dobro pelo Demandado concernentes &agrave; todas as parcelas que forem pagas at&eacute; que haja pronunciamento judicial transitado em julgado no presente feito.</p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>A Jurisprud&ecirc;ncia p&aacute;tria, corroborando para com o entendimento supra alinhavado, vem se manifestando, como evidenciado nas ementas abaixo transcritas, da seguinte forma:</p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p><em>APELA&Ccedil;&Atilde;O C&Iacute;VEL. CONSUMIDOR. A&Ccedil;&Atilde;O REVISIONAL DE CL&Aacute;USULAS CONTRATUAIS. CONTRATO DE FINANCIAMENTO DE VE&Iacute;CULO. PRINC&Iacute;PIO DO PACTA SUNT SERVANDA. RELATIVIZA&Ccedil;&Atilde;O. INCID&Ecirc;NCIA DO C&Oacute;DIGO DE DEFESA DO CONSUMIDOR. PRELIMINAR SUSCITADA PELO APELADO DE N&Atilde;O CONHECIMENTO PARCIAL. INOVA&Ccedil;&Atilde;O RECURSAL. IMPOSSIBILIDADE. PRELIMINAR SUSCITADA PELO RECORRIDO DE FALTA DE INTERESSE DE AGIR. TRANSFER&Ecirc;NCIA PARA O M&Eacute;RITO. PREJUDICIAL DE M&Eacute;RITO. AUS&Ecirc;NCIA DE INTERESSE RECURSAL SUPERVENIENTE. M&Eacute;RITO: JUROS REMUNERAT&Oacute;RIOS. LIMITA&Ccedil;&Atilde;O &Agrave; TAXA M&Eacute;DIA DIVULGADA PELO BANCO CENTRAL DO BRASIL. POSSIBILIDADE. RESTITUI&Ccedil;&Atilde;O EM DOBRO DOS VALORES PAGOS A MAIOR. POSSIBILIDADE. INTELIG&Ecirc;NCIA DO PAR&Aacute;GRAFO &Uacute;NICO DO ARTIGO 42 DO CDC. RECURSO CONHECIDO PARCIALMENTE E PROVIDO. APELA&Ccedil;&Atilde;O C&Iacute;VEL - REVIS&Atilde;O DE CONTRATOS BANC&Aacute;RIOS - APLICABILIDADE DO C&Oacute;DIGO DE DEFESA DO CONSUMIDOR - LIMITA&Ccedil;&Atilde;O DE JUROS REMUNERAT&Oacute;RIOS AO PATAMAR DE 12% AO ANO - IMPOSSIBILIDADE - VEDA&Ccedil;&Atilde;O AO ANATOCISMO - COMISS&Atilde;O DE PERMAN&Ecirc;NCIA. IMPOSSIBILIDADE DE CUMULA&Ccedil;&Atilde;O COM QUALQUER OUTRO ENCARGO - EXCLUS&Atilde;O - MANUTEN&Ccedil;&Atilde;O APENAS DA MULTA POR ATRASO NO VALOR DE 2% - RESTITUI&Ccedil;&Atilde;O EM DOBRO DAS QUANTIAS J&Aacute; PAGAS INDEVIDAMENTE - HONOR&Aacute;RIOS SUCUMBENCIAIS - PROPORCIONALIDADE EM RELA&Ccedil;&Atilde;O &Agrave; NATUREZA DA DEMANDA - CONHECIMENTO E PROVIMENTO PARCIAL DO RECURSO. (TJRN, AC n&ordm;, rel. Des. Aderson Silvino, 2&ordf; C&acirc;mara C&iacute;vel, unanimidade, dj. 16/06/2009) (TJ-RN, Relator: Juiz Guilherme Melo Cortez (Convocado), Data de Julgamento: 21/06/2011, 2&ordf; C&acirc;mara C&iacute;vel)</em></p>
<p><em>&nbsp;</em></p>
<p><em>APELA&Ccedil;&Atilde;O C&Iacute;VEL </em><em>-</em><em> REVIS</em><em>&Atilde;</em><em>O DE CONTRATOS BANC</em><em>&Aacute;</em><em>RIOS </em><em>-</em><em> APLICABILIDADE DO C&Oacute;DIGO DE DEFESA DO CONSUMIDOR </em><em>-</em><em> LIMITA</em><em>&Ccedil;&Atilde;</em><em>O DE JUROS REMUNERAT</em><em>&Oacute;</em><em>RIOS AO PATAMAR DE 12% AO ANO - IMPOSSIBILIDADE - VEDA</em><em>&Ccedil;&Atilde;</em><em>O AO ANATOCISMO </em><em>-</em><em> COMISS</em><em>&Atilde;</em><em>O DE PERMAN</em><em>&Ecirc;</em><em>NCIA. IMPOSSIBILIDADE DE CUMULA</em><em>&Ccedil;&Atilde;</em><em>O COM QUALQUER OUTRO ENCARGO </em><em>-</em><em> EXCLUS</em><em>&Atilde;</em><em>O </em><em>-</em><em> MANUTEN</em><em>&Ccedil;</em><em>&Atilde;O APENAS DA MULTA POR ATRASO NO VALOR DE 2% - RESTITUI&Ccedil;&Atilde;O EM DOBRO DAS QUANTIAS J&Aacute; PAGAS INDEVIDAMENTE </em><em>- </em><em>HONOR</em><em>&Aacute;</em><em>RIOS SUCUMBENCIAIS </em><em>-</em><em> PROPORCIONALIDADE EM RELA</em><em>&Ccedil;&Atilde;</em><em>O </em><em>&Agrave;</em><em> NATUREZA DA DEMANDA - CONHECIMENTO E PROVIMENTO PARCIAL DO RECURSO. (TJRN, AC n</em><em>&ordm;</em><em>, rel. Des. Aderson Silvino, 2&ordf; C&acirc;mara C&iacute;vel, unanimidade, dj. 16/06/2009) </em></p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>N&atilde;o h&aacute; que falar-se em for&ccedil;a obrigacional do contrato, eis que a revis&atilde;o de cl&aacute;usulas contratuais &eacute; permitida pelo C&oacute;digo de Defesa do Consumidor, <em>ex vi</em> Art. 6&ordm; do referido diploma legal, uma vez que o princ&iacute;pio <em>pacta sunt servanda</em>, oriundo de liberalismo, restou ultrapassado<em>&nbsp;</em></p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>Sendo assim, aquele princ&iacute;pio que prega ser o contrato lei entre as partes, sem que qualquer altera&ccedil;&atilde;o possa ocorrer, ap&oacute;s a vig&ecirc;ncia do C&oacute;digo do Consumidor perdeu a sua for&ccedil;a, n&atilde;o constituindo, portanto, ofensa ao princ&iacute;pio da autonomia da vontade. Logo &eacute; medida que se imp&otilde;e a revis&atilde;o e a modifica&ccedil;&atilde;o das cl&aacute;usulas contratuais impostas ao contratante ao arrepio dos ditames legais de uma nova ordem jur&iacute;dica que visa preservar o equil&iacute;brio econ&ocirc;mico entre os contratantes. Desse modo, os contratos podem ser revistos e ter suas cl&aacute;usulas modificadas, desde que os juros entabulados sejam superiores &agrave;s taxas m&eacute;dias apuradas pelo Banco Central.</p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>Segundo o sempre lembrado jurista Nelson Nery J&uacute;nior:</p>
<p>&nbsp;</p>
<p><em>"N&atilde;o &eacute; demais lembrar que as rela&ccedil;&otilde;es de consumo s&atilde;o informadas pelo princ&iacute;pio da boa-f&eacute; (art. 4&ordm;, caput e inc. III, CDC), de sorte que toda cl&aacute;usula que infringir esse princ&iacute;pio &eacute; considerada, ex lege, como abusiva. Dissemos ex vi legis, porque o art. 51, n&ordm; XV, do CDC diz serem abusivas as cl&aacute;usulas que estejam em desacordo com o sistema de prote&ccedil;&atilde;o ao consumidor", sistema no qual se insere o princ&iacute;pio da boa-f&eacute; por expressa disposi&ccedil;&atilde;o do j&aacute; mencionado art. 4&ordm;, caput e inc. III, do CDC. H&aacute; no sistema contratual do CDC, por conseguinte, a obrigatoriedade da ado&ccedil;&atilde;o pelas partes de uma cl&aacute;usula geral de boa-f&eacute;, que se reputa existente em todo e qualquer contrato que verse sobre rela&ccedil;&atilde;o de consumo, mesmo que n&atilde;o inserida expressamente nos instrumentos contratuais respectivos. A boa-f&eacute; objetiva no CDC &eacute; cl&aacute;usula geral quando regulada no art. 4&ordm;, inc. III, mas conceito legal indeterminado (ou determinado pela fun&ccedil;&atilde;o) quando causa de nulidade da cl&aacute;usula contratual que a desatente (art. 51, inc. IV, do CDC). A prote&ccedil;&atilde;o contra cl&aacute;usulas abusivas &eacute; um dos mais importantes instrumentos de defesa do consumidor, import&acirc;ncia que se avulta em raz&atilde;o da multiplica&ccedil;&atilde;o dos contratos de ades&atilde;o, conclu&iacute;dos com base nas cl&aacute;usulas contratuais gerais. Al&eacute;m dessa circunst&acirc;ncia, a impossibilidade de o aderente discutir as bases do contrato faz com que, no que respeita &agrave;s rela&ccedil;&otilde;es de consumo, deva haver a necess&aacute;ria prote&ccedil;&atilde;o contra cl&aacute;usulas abusivas, que originam ami&uacute;de das cl&aacute;usulas gerais dos contratos." (C&oacute;digo de Defesa do Consumidor Comentado pelos Autores do Anteprojeto, 8 ed., Rio de Janeiro: Forense Universit&aacute;ria, 2004, p. 518-519).</em></p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>&Eacute; dever do Juiz, pois, diante de situa&ccedil;&otilde;es que tornem desiguais as presta&ccedil;&otilde;es entre as partes, mediante provoca&ccedil;&atilde;o, promover a revis&atilde;o ou modifica&ccedil;&atilde;o do contrato (Art. 6&ordm;, inciso V, do CDC), aplicando o princ&iacute;pio da boa-f&eacute; objetiva em detrimento do dogma <em>pacta sunt servanda</em>, sempre em busca da justi&ccedil;a contratual, o que desde j&aacute; se requer.</p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p align="center"><strong>III &ndash; Subsidiariamente</strong></p>
<p>&nbsp;</p>
<p>Vale destacar, por oportuno, que &eacute; manifesta a incid&ecirc;ncia de juros compostos no presente contrato objeto da demanda, ainda que pendente de per&iacute;cia judicial a ser realizada, pois o duod&eacute;cuplo da taxa mensal de juros incidente no contrato em testilha n&atilde;o corresponde &agrave; taxa anual de juros, revelando a pr&aacute;tica, ainda que impl&iacute;cita, de anatocismo, conforme se pode concluir pela simples interpreta&ccedil;&atilde;o do contrato de C&eacute;dula de Cr&eacute;dito Banc&aacute;rio em anexo.</p>
<p>O Art. 28, &sect;1&ordm;, inc. I, da Lei 10.931/04, que regulamenta os contratos de financiamento por meio de C&eacute;dula de Cr&eacute;dito Banc&aacute;rio, permite a capitaliza&ccedil;&atilde;o de juros, desde que expressamente pactuada, o que, de fato, n&atilde;o ocorreu no caso em tela.</p>
<p>&nbsp;</p>
<p>N&atilde;o obstante, a lei acima referida n&atilde;o se coaduna com as normas constitucionais, eis que, possuindo o <em>status</em> de lei ordin&aacute;ria, n&atilde;o pode regular mat&eacute;ria afeta ao sistema financeiro nacional, reservada &agrave; lei complementar, conforme disp&otilde;e o Art. 192 da Constitui&ccedil;&atilde;o Federal, com reda&ccedil;&atilde;o conferida pela Emenda Constitucional n&ordm; 40/2003. Veja-se:</p>
<p>&nbsp;</p>
<p><em>&ldquo;Art. 192. O sistema financeiro nacional, estruturado de forma a promover o desenvolvimento equilibrado do Pa&iacute;s e a servir aos interesses da coletividade, em todas as partes que o comp&otilde;em, abrangendo as cooperativas de cr&eacute;dito, ser&aacute; regulado por leis complementares que dispor&atilde;o, inclusive, sobre a participa&ccedil;&atilde;o do capital estrangeiro nas institui&ccedil;&otilde;es que o integram&rdquo;.</em></p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Antes da altera&ccedil;&atilde;o do texto constitucional, promovida pela EC n&ordm; 45/2003, a mat&eacute;ria j&aacute; era reservada &agrave; legisla&ccedil;&atilde;o complementar, conforme se verifica da leitura da S&uacute;mula N&ordm;. 648 do Supremo Tribunal Federal, que se encontra vazada nos seguintes termos:</p>
<p>&nbsp;</p>
<p><em>&ldquo;A norma do &sect;3&ordm; do art. 192 da Constitui&ccedil;&atilde;o revogada pela EC n. 40/2003, que limitava a taxa de juros reais a 12% ao ano, tinha a sua aplicabilidade condicionada &agrave; edi&ccedil;&atilde;o de lei complementar&rdquo;.</em></p>
<p>&nbsp;</p>
<p>Destarte, a pr&oacute;pria Lei 10.931/04, em seu Art. 26, &sect;1&ordm;, disp&otilde;e que a institui&ccedil;&atilde;o credora deve integrar o Sistema Financeiro Nacional. Confira-se:</p>
<p>&nbsp;</p>
<p><em>&ldquo;Art. 26. A C&eacute;dula de Cr&eacute;dito Banc&aacute;rio &eacute; t&iacute;tulo de cr&eacute;dito emitido, por pessoa f&iacute;sica ou jur&iacute;dica, em favor de institui&ccedil;&atilde;o financeira ou de entidade a esta equiparada, representando promessa de pagamento em dinheiro, decorrente de opera&ccedil;&atilde;o de cr&eacute;dito, de qualquer modalidade.</em></p>
<p><em>&sect;1&ordm;. A institui&ccedil;&atilde;o credora deve integrar o Sistema Financeiro Nacional, sendo admitida a emiss&atilde;o de C&eacute;dula de Cr&eacute;dito Banc&aacute;rio em favor de institui&ccedil;&atilde;o domiciliada no exterior, desde que a obriga&ccedil;&atilde;o esteja sujeita exclusivamente &agrave; lei e ao foro brasileiros&rdquo;.</em></p>
<p>&nbsp;</p>
<p>Patente, portanto, tratar-se de mat&eacute;ria inserida no &acirc;mbito do Sistema Financeiro Nacional.</p>
<p>&nbsp;</p>
<p>Cumpre destacar que a inconstitucionalidade da Lei 10.931/04 j&aacute; fora declarada por outros Tribunais deste Pa&iacute;s, conforme se depreende de ac&oacute;rd&atilde;o vazado pelo Egr&eacute;gio TJDFT quando do julgamento da Argui&ccedil;&atilde;o de Inconstitucionalidade suscitada na APC 2006.01.1.111521-6, cuja ementa passo a transcrever, <em>verbis</em>:</p>
<p>&nbsp;</p>
<p><em>&ldquo;ARG&Uuml;I&Ccedil;&Atilde;O DE INCONSTITUCIONALIDADE. INCISO I, PAR&Aacute;GRAFO PRIMEIRO, DO ARTIGO 28 DA LEI N. 10.931/2004. AUTORIZA&Ccedil;&Atilde;O EM LEI ORDIN&Aacute;RIA DE CAPITALIZA&Ccedil;&Atilde;O DE JUROS EM C&Eacute;DULA DE CR&Eacute;DITO BANC&Aacute;RIO. MAT&Eacute;RIA AFETA AO SISTEMA FINANCEIRO NACIONAL. TEMA A SER PREVISTO EM LEI COMPLEMENTAR. AFRONTA DIRETA &Agrave;O ARTIGO 192, CAPUT, DA CONSTITUI&Ccedil;&Atilde;O FEDERAL, COM REDA&Ccedil;&Atilde;O CONFERIDA PELA EMENDA CONSTITUCIONAL N. 40.</em></p>
<p><em>1. Ao autorizar a capitaliza&ccedil;&atilde;o de juros em c&eacute;dula de cr&eacute;dito banc&aacute;rio, o inciso I, par&aacute;grafo primeiro, do artigo 28 da lei n. 10.931/2004 afronta diretamente o artigo 192, caput, da Constitui&ccedil;&atilde;o Federal de 1988, que determina caber &agrave; lei complementar a regulamenta&ccedil;&atilde;o de mat&eacute;ria afeta ao Sistema Financeiro Nacional.</em></p>
<p><em>2. Declarada, incidenter tantum, a inconstitucionalidade do inciso I, par&aacute;grafo primeiro, do artigo 28 da lei n. 10.931/2004.&rdquo; (Ac&oacute;rd&atilde;o n. 318357, 20080020008608AIL, Relator FLAVIO ROSTIROLA, Conselho Especial, julgado em 20/05/2008, DJ 05/09/2008 p. 34)</em></p>
<p>&nbsp;</p>
<p>Desta forma, por n&atilde;o atender a norma contida no Art. 192 da Constitui&ccedil;&atilde;o Federal, deve ser afastada a aplica&ccedil;&atilde;o da Lei 10.931/04 ao caso dos autos, sem a qual n&atilde;o existe suporte legal para a incid&ecirc;ncia de juros capitalizados mensalmente.</p>
<p>&nbsp;</p>
<p>Com efeito, a S&uacute;mula 121 do Supremo Tribunal Federal disciplina:</p>
<p><em>&ldquo;&Eacute; vedada a capitaliza&ccedil;&atilde;o dos juros, ainda que expressamente convencionada.&rdquo;</em></p>
<p>&nbsp;</p>
<p>Sobre a mat&eacute;ria, o mestre Roberto Rosas leciona, <em>verbis</em>:</p>
<p>&nbsp;</p>
<p><em>&ldquo;O anatocismo &eacute; considerado como a capitaliza&ccedil;&atilde;o de juros. O Decreto 22.626, de 7.4.1933, Art. 4&ordm;, chamado Lei de Usura, proibiu a contagem de juros dos juros.&rdquo; </em></p>
<p>&nbsp;</p>
<p>Esse mesmo autor, ao tecer coment&aacute;rios &agrave; S&uacute;mula 596, tamb&eacute;m do STF, deixa consignado que &ldquo;<strong><em>esta S&uacute;mula n&atilde;o afasta a aplica&ccedil;&atilde;o da S&uacute;mula 121 (RE 100.336, Rel. Min. N&eacute;ri da Silveira, DJU 24.5.1985)</em></strong>&rdquo;.</p>
<p>&nbsp;</p>
<p>Nesse sentido segue jurisprud&ecirc;ncia abaixo transcrita da Corte Especial do Egr&eacute;gio TJDFT:</p>
<p>&nbsp;</p>
<p><em>&ldquo;No que se refere &agrave; capitaliza&ccedil;&atilde;o de juros, tamb&eacute;m conhecida como anatocismo, resta claro que no nosso ordenamento jur&iacute;dico tal pr&aacute;tica n&atilde;o constitui procedimento l&iacute;cito (Art. 4&ordm; da lei de usura), sendo que o Excelso Pret&oacute;rio, sumulando a mat&eacute;ria, j&aacute; assentou que "&eacute; vedada a capitaliza&ccedil;&atilde;o de juros, ainda que expressamente convencionada" (verbete n. 121). Deve-se atentar, nos termos da s&uacute;mula n. 93 do STJ, somente ser admiss&iacute;vel o pacto de capitaliza&ccedil;&atilde;o de juros a legisla&ccedil;&atilde;o sobre c&eacute;dulas de cr&eacute;dito rural, comercial e industrial, conjugada a autoriza&ccedil;&atilde;o expressa da parte. Com raz&atilde;o, afastada pelo comando sentencial a capitaliza&ccedil;&atilde;o em contrato de abertura de cr&eacute;dito, porquanto n&atilde;o prevista em legisla&ccedil;&atilde;o especial&rdquo;.</em></p>
<p>&nbsp;</p>
<p>Quanto a Medida Provis&oacute;ria 2.170-36/2001, nos filiamos ao entendimento esposado pela Corte de Justi&ccedil;a acima citada, no qual se defende a inaplicabilidade desta norma aos contratos banc&aacute;rios, <em>verbis</em>:</p>
<p>&nbsp;</p>
<p><em>&ldquo;REVIS&Atilde;O DE CONTRATO. REPETI&Ccedil;&Atilde;O DE IND&Eacute;BITO. CONTRATO BANC&Aacute;RIO. CONTA-CORRENTE. LIMITA&Ccedil;&Atilde;O DE JUROS. IMPROCED&Ecirc;NCIA. TABELA PRICE. ILEGALIDADE. ANATOCISMO E CAPITALIZA&Ccedil;&Atilde;O MENSAL DE JUROS. ARTIGO 4.&ordm; DA LEI DA USURA (DECRETO N.&ordm; 22.626/33). S&Uacute;MULA 121, STF. MP 2.170/2001. INAPLICABILIDADE.</em></p>
<p><em>1 - Constitui anatocismo, vedado pelo artigo 4&ordm; da lei da usura (decreto n.&ordm; 22.626/33), o emprego da tabela price como fator de amortiza&ccedil;&atilde;o, dado ser da sua ess&ecirc;ncia a capitaliza&ccedil;&atilde;o mensal de juros, que depende de autoriza&ccedil;&atilde;o expressa de norma legal, inocorrente na esp&eacute;cie dos autos. s&uacute;mula 121, STF. 2 - A medida provis&oacute;ria n&ordm; 2.170-36/2001 (e reedi&ccedil;&otilde;es antecedentes) n&atilde;o se aplica a qualquer esp&eacute;cie de rela&ccedil;&atilde;o de natureza financeira, muito menos &agrave;quelas que antecedem ao in&iacute;cio de sua vig&ecirc;ncia (a partir da mp 1.963-17, de 31/03/2000). Ademais, referida norma deve ser objeto de interpreta&ccedil;&atilde;o conforme a constitui&ccedil;&atilde;o, de forma a afastar a sua aplica&ccedil;&atilde;o no &acirc;mbito das rela&ccedil;&otilde;es regidas pelo sistema financeiro nacional, que demanda regula&ccedil;&atilde;o por lei complementar (artigo 192, caput, CF/88), mat&eacute;ria que n&atilde;o pode ser objeto de delega&ccedil;&atilde;o legislativa ou regula&ccedil;&atilde;o por medida provis&oacute;ria (artigos 62 e 68, CF/88).</em></p>
<p><em>3 - Apelos improvidos.&rdquo;&nbsp; </em></p>
<p>&nbsp;</p>
<p>Neste particular, pertinentes os fundamentos expendidos pelo Relator do julgado <em>supra</em>, raz&atilde;o pela qual pe&ccedil;o v&ecirc;nia para transcrev&ecirc;-los:</p>
<p>&nbsp;</p>
<p><em>&ldquo;(...) o egr&eacute;gio Superior Tribunal de Justi&ccedil;a j&aacute; teve a oportunidade de destacar a inaplicabilidade da MP 2.170/2001 aos contratos banc&aacute;rios, seja por reconhecer que a referida MP n&atilde;o regulou tais rela&ccedil;&otilde;es jur&iacute;dicas, mas sim se destinou a dispor acerca da administra&ccedil;&atilde;o dos recursos de caixa do Tesouro Nacional, consolidando e atualizando a legisla&ccedil;&atilde;o pertinente ao assunto, seja por entender que a mat&eacute;ria regulada no Artigo 5&ordm; daquela norma, se fosse emprestada a dimens&atilde;o hermen&ecirc;utica reconhecida na senten&ccedil;a objurgada, importaria na viola&ccedil;&atilde;o &agrave; regra do Artigo 62, &sect;1&ordm;, inciso III, da Constitui&ccedil;&atilde;o Federal (e acrescentamos a&iacute; a regra do Artigo 68, que veda qualquer esp&eacute;cie de delega&ccedil;&atilde;o legislativa &mdash; inclusive a medida provis&oacute;ria, por racioc&iacute;nio a pare &mdash; em mat&eacute;ria reservada &agrave; Lei Complementar, da estrita compet&ecirc;ncia do Congresso Nacional), porquanto o Artigo 192 da Constitui&ccedil;&atilde;o Federal determina que o Sistema Financeiro Nacional somente ser&aacute; regulado por Lei Complementar.</em></p>
<p><em>&nbsp;</em></p>
<p><em>Nesse sentido, l&ecirc;-se expressivo excerto do voto proferido pelo eminente Ministro Ant&ocirc;nio de P&aacute;dua Ribeiro, nos autos do RESP 609.379-RS, in verbis:</em></p>
<p><em>&nbsp;</em></p>
<p><em>EXMO. SR. MINISTRO ANT&Ocirc;NIO DE P&Aacute;DUA RIBEIRO: Existem considera&ccedil;&otilde;es de duas ordens a serem feitas com rela&ccedil;&atilde;o &agrave; MP 2.170-36, no que se refere &agrave; quest&atilde;o da capitaliza&ccedil;&atilde;o. Referida medida provis&oacute;ria destinou-se a fixar regras sobre a administra&ccedil;&atilde;o dos recursos do Tesouro Nacional, n&atilde;o sendo razo&aacute;vel, portanto, a interpreta&ccedil;&atilde;o de que o artigo 5.&ordm; tem aplica&ccedil;&atilde;o em qualquer opera&ccedil;&atilde;o financeira. Por outro lado, deve-se ter em conta que a Constitui&ccedil;&atilde;o Federal, no art. 192, disp&otilde;e que o sistema financeiro nacional ser&aacute; regulado por leis complementares, e, no &sect;1.&ordm;, do art. 62, veda a edi&ccedil;&atilde;o de medidas provis&oacute;rias sobre mat&eacute;ria reservada a lei complementar (inc. III).</em></p>
<p><em>&nbsp;</em></p>
<p><em>Ressalve-se que n&atilde;o &eacute; o caso de se propor o competente incidente de inconstitucionalidade, haja vista entendermos que tal aprecia&ccedil;&atilde;o n&atilde;o &eacute; absolutamente necess&aacute;ria ao deslinde da mat&eacute;ria de fundo e j&aacute; h&aacute; pronunciamento do egr&eacute;gio STJ acerca da inaplicabilidade da referida norma provis&oacute;ria aos contratos banc&aacute;rios, m&aacute;xime ante a interpreta&ccedil;&atilde;o conforme a Constitui&ccedil;&atilde;o que se empresta &agrave; norma infraconstitucional na esp&eacute;cie.&rdquo;</em></p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dessa forma, deve-se ser declarado, subsidiariamente, <em>incidenter tantum</em> a inconstitucionalidade do inciso I, par&aacute;grafo primeiro, do Art. 28, da Lei 10.931/2004, na aven&ccedil;a praticada entre &agrave;s partes que culminaram com a propositura da presente a&ccedil;&atilde;o.</p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p align="center"><strong>IV &ndash; Dos Pedidos</strong></p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ante o exposto requer de Vossa Excel&ecirc;ncia:</p>
<p><span style="text-decoration: underline;">&nbsp;</span></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A cita&ccedil;&atilde;o do Demandado no endere&ccedil;o declinado na inicial, para responder &agrave; presente a&ccedil;&atilde;o no prazo que a lei determina, sob pena de revelia;</p>
<p>&nbsp;</p>
<p>Que seja determinado de plano, ou ap&oacute;s a contesta&ccedil;&atilde;o, a invers&atilde;o do &ocirc;nus da prova, tendo em vista a verossimilhan&ccedil;a das alega&ccedil;&otilde;es e a hipossufici&ecirc;ncia do Demandante, consoante fundamenta&ccedil;&atilde;o <em>supra</em>;</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A proced&ecirc;ncia da presente a&ccedil;&atilde;o para se realizar a revis&atilde;o judicial do contrato objeto do presente feito, e assim determinar a revis&atilde;o do contrato para que os juros remunerat&oacute;rios sejam limitados &agrave; taxa m&eacute;dia divulgada pelo Banco Central do Brasil, determinando ainda, com fulcro no par&aacute;grafo &uacute;nico do Art. 42 do C&oacute;digo de Defesa do Consumidor, determinando que o Demandado restitua, em dobro, os valores pagos a maior pelo Demandante, cujo valor dever&aacute; ser apurado em sede de liquida&ccedil;&atilde;o de senten&ccedil;a;</p>
<p>&nbsp;</p>
<p>Subsidiariamente, se acaso Vossa Excel&ecirc;ncia n&atilde;o entender pela proced&ecirc;ncia da demanda nos moldes articulados acima, pugna que se declare <em>incidenter tantum</em> a inconstitucionalidade do inciso I, par&aacute;grafo primeiro, do Art. 28, da Lei 10.931/2004, determinando, por conseguinte, o afastamento da capitaliza&ccedil;&atilde;o composta de juros no contrato entabulado entre &agrave;s partes, qualquer que seja a periodicidade da mesma, para aplicar t&atilde;o somente os juros simples convencionados no referido instrumento, determinando tamb&eacute;m, com fulcro no par&aacute;grafo &uacute;nico do Art. 42 do C&oacute;digo de Defesa do Consumidor, determinando que o Demandado restitua, em dobro, os valores pagos a maior pelo Demandante, cujo valor dever&aacute; ser apurado em sede de liquida&ccedil;&atilde;o de senten&ccedil;a;</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pugna pela condena&ccedil;&atilde;o do Demandado ao pagamento das custas processuais e honor&aacute;rios advocat&iacute;cios, devidamente arbitrados por Vossa Excel&ecirc;ncia;</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Requer &agrave;s benesses da gratuidade de justi&ccedil;a, posto ser pobre na acep&ccedil;&atilde;o jur&iacute;dica do vern&aacute;culo, consoante declara&ccedil;&atilde;o de pobreza em anexo;</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Protesta pela produ&ccedil;&atilde;o de todos os meios de prova em direito admitidos, em especial pela produ&ccedil;&atilde;o de prova pericial, cujos quesitos ser&atilde;o apresentados oportunamente;</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Estima-se &agrave; presente causa o valor de R$ 19.101,12 (dezenove mil cento e um reais e doze centavos).</p>
<p>&nbsp;</p>
<p align="center">Nestes Termos</p>
<p align="center">Pede Deferimento.</p>
<p align="center">&nbsp;</p>
<p align="center">Conselheiro Lafaiete, 10 de Junho de 2015.</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p><strong><br /> </strong></p>
<p align="center"><strong>Luciano da Silva Meireles</strong></p>
<p align="center"><strong>OAB/MG &ndash; 108.378</strong></p>
<p><strong>&nbsp;</strong></p>
<p align="center"><strong>Fabr&iacute;cio Resende Rodrigues</strong></p>
<p align="center"><strong>OAB/MG &ndash; 117.425</strong></p>
<p><strong><span style="text-decoration: underline;"><br /> </span></strong></p>
<p><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>