<div id="j_id1159:j_id1160:38:j_id1161" style="text-align: center;"><img style="width: 50px; float: left;" title="Arraste para o documento" src="/pje/img/TJbrasaoMini.png" alt="" /></div>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>PODER JUDICI&Aacute;RIO DO ESTADO DE MINAS GERAIS</strong></p>
<p style="text-align: center;">COMARCA DE CONSELHEIRO LAFAIETE</p>
<p style="text-align: center;">1ª Vara Cível de Conselheiro Lafaiete</p>
<p style="text-align: center;">Rua Melvin Jones, 435, Centro, CONSELHEIRO LAFAIETE - MG - CEP: 32370-780</p>
<p>&nbsp;</p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;">PROCESSO N&ordm; 5000093-49.2015.8.13.0183</span></span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;">CLASSE: PROCEDIMENTO ORDINÁRIO (7)</span></span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;">ASSUNTO: [Capitalização / Anatocismo]</span></span></p>
<p>AUTOR: LUIZ JOSAFA LOPES
</p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;">RÉU: MERCANTIL DO BRASIL FINANCEIRA SA CREDITO FIN E INVEST
<br /></span></span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p style="padding-left: 90px;"><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p style="padding-left: 90px;"><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p style="padding-left: 90px;"><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p style="padding-left: 90px;"><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;">CONSELHEIRO LAFAIETE, 11 de junho de 2015<br /></span></span></p>