<p>&nbsp;</p>
<p class="western" style="margin-bottom: 0cm;">CERTIFICO QUE, CARTA PRECAT&Oacute;RIA&nbsp; DISTRIBU&Iacute;DA&nbsp; FOI RECEBIDA VIA MALOTE E O ADVOGADO DA PARTE N&Atilde;O FOI CADASTRADO PORQUE N&Atilde;O EST&Aacute; CREDENCIADO NO PJE</p>