<p><strong>EXMO. SR. DOUTOR JUIZ DE DIREITO DA&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VARA FAMILIA DA &nbsp;REGIONAL BARREIRO&nbsp; - COMARCA DE BELO HORIZONTE-MG.</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LILANIA DAS GRA&Ccedil;AS LOPES SILVA,</strong> brasileira, casada, Faxineira, portadora da C. I. MG &ndash; 10.527.515, SSP/MG e CPF: 058.614.106-58; residente &agrave; Rua virgilio Salom&atilde;o, 127, Bairro vila pinho&nbsp; , Belo Horizonte/MG, CEP 30.670-250, e <span style="text-decoration: underline;">JONATHAN FELIPE LOPES DA SILVA</span> <strong>&nbsp;de 16 anos</strong> nascido&nbsp; 23/04/1998, <span style="text-decoration: underline;">BYANCA EDUARDA LOPES DA SILVA</span>,<strong>11 anos</strong> nascida em19/04/2003 E <span style="text-decoration: underline;">LUCAS FELIPE LOPES DA SILVA</span><strong>, 8 anos</strong> , nascido 06/12/2005, &nbsp;Todos menores imp&uacute;bere,&nbsp; representado por sua Genitora <strong>Lilania das Gra&ccedil;as Lopes Silva</strong> j&aacute; qualificada acima, vem respeitosamente &agrave; presen&ccedil;a de V. Exa., atrav&eacute;s de seu Advogado, &nbsp;instrumento de mandato em anexo, propor a presente a&ccedil;&atilde;o de</p>
<p align="center"><strong>DIV&Oacute;RCIO JUDICIAL C/C ALIMENTOS E PEDIDO LIMINAR</strong></p>
<p align="center"><strong>&nbsp;</strong></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; em face de <strong>JONAIR DA SILVA</strong>, brasileiro, casado, porteiro profissional, portador de C. I. M-3.428.632 , SSP/MG e CPF: 685.218.986-49 , residente &agrave; Rua D&eacute;lio da consola&ccedil;&atilde;o Rocha, 896 , bairro Santa Helena, Contagem, MG, cep: 32.015-180 &nbsp;&nbsp;pelas raz&otilde;es de fato e fundamentos de direito que passa a expor:</p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>PRELIMINARMENTE</strong></p>
<p>Os Requerentes declaram que s&atilde;o pobres no sentido legal, n&atilde;o tendo como arcar com as despesas do processo e honor&aacute;rios advocat&iacute;cios sem o comprometimento de sua sobreviv&ecirc;ncia e de sua fam&iacute;lia. Desta forma, requerem lhes sejam deferidos os benef&iacute;cios da Gratuidade de Justi&ccedil;a, de acordo com a lei 1060/50 e da declara&ccedil;&atilde;o de hipossufici&ecirc;ncia em anexo.</p>
<p><strong>DOS FATOS</strong></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A 1.&ordf; Requerente e o Requerido casaram-se no dia 11 de Julho de 1997,&nbsp; conforme certid&atilde;o de casamento em anexo, J&aacute; h&aacute; muitos anos n&atilde;o tem havido uma boa conviv&ecirc;ncia familiar por que o var&atilde;o &eacute; muito agressivo e vem aumentando seu comportamento . A partir de ent&atilde;o, devido a problemas de relacionamento a conviv&ecirc;ncia se tornou insuport&aacute;vel culminando com a sa&iacute;da volunt&aacute;ria do Requerido do lar conjugal h&aacute; aproximadamente 90 dias Desde ent&atilde;o n&atilde;o tiveram contato f&iacute;sico.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Os Requerentes <span style="text-decoration: underline;">JONATHAN FELIPE LOPES DA SILVA</span>&nbsp; , <span style="text-decoration: underline;">BYANCA EDUARDA LOPES DA SILVA</span> E <span style="text-decoration: underline;">LUCAS FELIPE LOPES DA SILVA</span>, , s&atilde;o filhos do Requerido, conforme se observa a Certid&atilde;o de nascimento em anexo.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Os filhos do Requerido &nbsp;principalmente por estar em tenra idade demanda n&atilde;o s&oacute; assist&ecirc;ncia emocional e afetiva, mas, tamb&eacute;m de ordem material por parte de seus Genitores. Entretanto, o Requerido&nbsp; <strong>&eacute; extremamente&nbsp; agressivo e os filhos tem medo dele,</strong> <span style="text-decoration: underline;">j&aacute; n&atilde;o tem afeto para oferecer e , e n&atilde;o oferece nenhum tipo de ajuda ou assist&ecirc;ncia, quer seja material</span> <strong>,pois a emocional nunca existiu</strong>. &nbsp;Assim, a Genitora est&aacute; arcando sozinha com o sustento de sua fam&iacute;lia e todo afeto necess&aacute;rio.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Por n&atilde;o receber contribui&ccedil;&atilde;o aliment&iacute;cia do Requerido, torna-se imposs&iacute;vel para a Genitora, sozinha, prover o sustento de seus filhos. Vale dizer que a Genitora e seus <strong>filhos residem de favor na casa de parente</strong>, pois ap&oacute;s a sa&iacute;da do im&oacute;vel que moravam, o requerente entregou &ndash;o ao propriet&aacute;rio no dia ap&oacute;s sua sa&iacute;da<span style="text-decoration: underline;">, deixando sua fam&iacute;lia na rua e na completa mis&eacute;ria.</span> , retirou da casa sem a autoriza&ccedil;&atilde;o da genitora o seguintes utens&iacute;lios dom&eacute;sticos necess&aacute;rios:</p>
<p><strong>&nbsp;- Computador completo, inclusive com impressora - valiado em R$1.500,00</strong></p>
<p><strong>- Televis&atilde;o de&nbsp; 42&rdquo;&nbsp; avaliada em&nbsp; R$2.500,00</strong></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No dia 12/03/2013, tentou&nbsp; sequestrar as crian&ccedil;as na porta da escola e a m&atilde;e n&atilde;o deixou e viu &nbsp;teve que fazer um registro de ocorr&ecirc;ncia na DELEGACIA DE MULHERES conforme anexo.</p>
<p>&nbsp;Por outro lado o Requerido trabalha e tem uma empresa de presta&ccedil;&atilde;o de servi&ccedil;os de portaria e tem uma renda mensal de R$2.000,00 ( Dois mil Reais ) mensais e, mesmo tendo condi&ccedil;&otilde;es financeiras para tal, n&atilde;o auxilia no sustento de seus &nbsp;filhos.</p>
<p>Como se observa na declara&ccedil;&atilde;o de despesas em anexo, para prover o sustento de seus filhos , a Genitora precisa ter R$722,00 &nbsp;(Setecentos e vinte e dois reais) mensais, <span style="text-decoration: underline;">excluindo-se as despesas com moradia.</span></p>
<p>Destarte, os alimentos a serem fornecidos pelo Requerido devem ser concedidos no patamar m&iacute;nimo de um sal&aacute;rio - m&iacute;nimo vigente, que hoje se encontra no valor de &nbsp;R$722,00 (Setecentos e Vinte e Dois &nbsp;reais).</p>
<p><strong>&nbsp;</strong></p>
<p><strong>DOS FUNDAMENTOS JUR&Iacute;DICOS </strong></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Uma vez que o requerido abandonou o lar conjugal e n&atilde;o presta mais qualquer aux&iacute;lio ou assist&ecirc;ncia &agrave; fam&iacute;lia, o pedido de div&oacute;rcio judicial encontra arrimo no artigo 226, &sect; 6&ordm; da Constitui&ccedil;&atilde;o Federal, regulamentado pela Emenda Constitucional n&ordm; 66 de 13 de Julho de 2010.</p>
<p>Com rela&ccedil;&atilde;o aos alimentos &eacute; indiscut&iacute;vel n&atilde;o s&oacute; a obriga&ccedil;&atilde;o e possibilidade do Requerido em alimentar seus filhos, como tamb&eacute;m a necessidade dele, uma vez que s&atilde;o &nbsp;menores &nbsp;em tenra idade e a Genitora n&atilde;o possui condi&ccedil;&otilde;es de arcar sozinha com as despesas para o sustento de todos;</p>
<p>&Eacute; indiscut&iacute;vel tamb&eacute;m a import&acirc;ncia da presen&ccedil;a dos pais na cria&ccedil;&atilde;o, educa&ccedil;&atilde;o e alimenta&ccedil;&atilde;o do filho, bem como contribuindo para o sustento dele.</p>
<p>Ademais, a legisla&ccedil;&atilde;o p&aacute;tria prescreve, com efeito, a proced&ecirc;ncia da obriga&ccedil;&atilde;o alimentar para este caso espec&iacute;fico:&nbsp; A Constitui&ccedil;&atilde;o Federal, determina em seu artigo 229, que os pais t&ecirc;m o dever de assistir, criar e educar os filhos menores;&nbsp; O C&oacute;digo Civil Brasileiro, por sua vez, caminha na mesma esteira, em especial, nos seus artigos 1695 e 1696 . Denota-se com clareza que os pedidos de separa&ccedil;&atilde;o judicial e alimentos devem ser julgados procedentes.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>ALIMENTOS PROVIS&Oacute;RIOS</strong></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Como a Genitora tem provido, sozinha, o sustento de seus filhos, desde a sa&iacute;da do Var&atilde;o do lar conjugal, e considerando que n&atilde;o tem condi&ccedil;&otilde;es para tanto, encontra-se em dificuldade financeira que j&aacute; est&aacute; comprometendo as necessidades mais b&aacute;sicas das crian&ccedil;as. Assim, desde j&aacute; se requer a concess&atilde;o dos alimentos provis&oacute;rios no patamar de um sal&aacute;rio &ndash; m&iacute;nimo vigente, hoje no valor de R$ 722,00 (Setecentos e vinte e dois Reais) para que a sa&uacute;de e o bem-estar dos menores sejam preservados.</p>
<p><strong>DA GUARDA DOS FILHOS</strong></p>
<p>A Guarda de fato dos filhos permaneceu com a Genitora, uma vez que o Requerido abandonou o lar conjugal. Assim, considerando que a 1.&ordf; Requerente possui melhores condi&ccedil;&otilde;es de assistir ao filho, a guarda deve ser mantida com a genitora, a teor do artigo 1631, <strong><em><span style="text-decoration: underline;">caput</span></em></strong> do C&oacute;digo Civil Brasileiro de 2002.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>DO DIREITO DE VISITA</strong></p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Todavia com rela&ccedil;&atilde;o &agrave;s visitas do pai, a Requerente informa que por ser o Requerido violento e a mesma n&atilde;o ter nenhuma confian&ccedil;a no genitor, n&atilde;o seria vi&aacute;vel estabelecer visitas, dessa forma requer que esse fato seja discutido em audi&ecirc;ncia com as partes presentes. E as crian&ccedil;as est&atilde;o com muito medo devido ao &uacute;ltimo epis&oacute;dio de viol&ecirc;ncia dom&eacute;stica.</p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
<p><strong>DA VIOL&Ecirc;NCIA CONTRA A MULHER</strong></p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A viol&ecirc;ncia contra a mulher &eacute; um mal que vem sendo veemente repudiado por todos os Pa&iacute;ses, inclusive pelo Brasil, que ratificou v&aacute;rios Tratados Internacionais, reconhecendo-os como normas constitucionais, por tratar-se de prote&ccedil;&atilde;o de direito humanos (Constitui&ccedil;&atilde;o Federal de 1988, artigo 5o, &sect;&sect;&nbsp;1o e 2o).</p>
<p>&nbsp;</p>
<p>A Conven&ccedil;&atilde;o Interamericana para Prevenir, Punir e&nbsp;Erradicar a Viol&ecirc;ncia contra a Mulher - Conven&ccedil;&atilde;o Bel&eacute;m do Par&aacute; de 1994, ratificada pelo Brasil em 27 de novembro de 1995, disp&otilde;e, entre outros os seguintes direitos:</p>
<p>&nbsp;</p>
<p><strong>Artigo 1&ordm;</strong></p>
<p>Para os efeitos desta Conven&ccedil;&atilde;o deve-se entender por viol&ecirc;ncia contra a mulher qualquer a&ccedil;&atilde;o ou conduta, baseada no g&ecirc;nero, que cause morte, dano ou sofrimento f&iacute;sico, sexual ou psicol&oacute;gico &agrave; mulher, tanto no &acirc;mbito p&uacute;blico como no privado.</p>
<p>&nbsp;</p>
<p><strong>DOS&nbsp; BENS</strong></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Foi adquirido na const&acirc;ncia do casamento 07/06/2006, Distrito de Anguereta &ndash; munic&iacute;pio de CURVELO, uma ch&aacute;cara de 20.000 Metros quadrados hoje avaliado em aproximadamente R$150,000,00 (Cento e cinquenta mil reais) ; adquirido&nbsp; atrav&eacute;s de contrato de compra e venda&nbsp; e dividido em parcelas de meio sal&aacute;rio m&iacute;nimo , restando algumas presta&ccedil;&otilde;es para finaliza&ccedil;&atilde;o e recebimento da escritura (contrato anexo)</p>
<p><strong>DOS REQUERIMENTOS E&nbsp; PEDIDOS </strong></p>
<p>Diante do exposto requer:</p>
<p><strong>1-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>A cita&ccedil;&atilde;o do Requerido no endere&ccedil;o supramencionado, para responder sob pena de revelia e confiss&atilde;o quanto &agrave; mat&eacute;ria de fato;</p>
<p><strong>2-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>A concess&atilde;o dos benef&iacute;cios da assist&ecirc;ncia judici&aacute;ria gratuita;</p>
<p><strong>3-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>-</strong> A interven&ccedil;&atilde;o do Minist&eacute;rio P&uacute;blico;</p>
<p><strong>4-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>&ndash;</strong> Que a Secretaria da Vara expe&ccedil;a of&iacute;cio ao Banco do Brasil para que seja aberta conta corrente em nome da 1.&ordf; Requerente com a finalidade de receber os alimentos provis&oacute;rios;</p>
<p><strong>5-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Requer provar o alegado por<strong> </strong>todos os meios de prova em direito admitidos, especialmente o depoimento pessoal do Requerido, oitiva de testemunhas e juntada de documentos;</p>
<p><strong>6-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>A juntada da procura&ccedil;&atilde;o, declara&ccedil;&atilde;o de hipossufic&ecirc;ncia, comprovante de endere&ccedil;o, certid&atilde;o de casamento, certid&atilde;o de nascimento, rol de testemunhas e planilha de despesas.</p>
<p><strong>7-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Sejam <strong>LIMINARMENTE</strong> fixados, <strong><em>inaudita altera pars</em></strong>, alimentos provis&oacute;rios ao&nbsp; 2.&ordm; Requerentes 3&ordm; e 4&ordm; , na ordem de R$722,00 (Setecentos e vinte e dois Reais), correspondente a um&nbsp; sal&aacute;rio-m&iacute;nimo legal vigente por m&ecirc;s, que dever&atilde;o ser depositados em conta corrente a ser aberta em nome da 1.&ordf; Requerente;</p>
<p><strong>8-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Que seja partilhado o bem , acima descrito em 50% para cada c&ocirc;njuge;</p>
<p><strong>9-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Que ao final seja julgado procedente o pedido para decretar o div&oacute;rcio do casal com a expedi&ccedil;&atilde;o do competente mandado de averba&ccedil;&atilde;o;</p>
<p><strong>10-&nbsp;&nbsp;&nbsp;&nbsp; </strong>Que ao final seja julgado procedente o pedido para decretar o div&oacute;rcio do casal com a expedi&ccedil;&atilde;o do competente mandado de averba&ccedil;&atilde;o;</p>
<p><strong>11-&nbsp;&nbsp;&nbsp;&nbsp; </strong>&nbsp;Seja o Requerido condenado ao pagamento de um sal&aacute;rio-m&iacute;nimo legal vigente, que, hoje resulta em um valor de R$722,00 (Setecentos e vinte e dois reais) mensais a t&iacute;tulo de alimentos, bem como ao pagamento das custas do processo e honor&aacute;rios advocat&iacute;cios.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; D&aacute; &agrave; causa o valor de R$162.664,00 ( Cento e sessenta e &nbsp;e Doze mil , seiscentos e sessenta e quatro &nbsp;&nbsp;reais) para efeitos fiscais.</p>
<p>&nbsp;</p>
<p>Termos em que,</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Pede e aguarda deferimento.</p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Belo Horizonte 03 de junho de 2014.</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>_______________________________</p>
<p>JULIANA GO&Ccedil;ALVES DA SILVA</p>
<p>OAB/MG 142.368</p>
<p>&nbsp;</p>
<p>__________________________________________</p>
<p>ROSIANE S. NOVAES PIMENTEL MOREIRA</p>
<p>OAB/MG 32971 E</p>