<p>Exmo. Sr. Dr. Juiz de Direito da&nbsp;&nbsp;&nbsp;&nbsp; Vara C&iacute;vel de Belo Horizonte - MG</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Peti&ccedil;&atilde;o inicial, procura&ccedil;&atilde;o e documentos anexos.</p>