<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="font-size: medium;"><strong>PODER JUDICI&Aacute;RIO DO ESTADO DE MINAS GERAIS</strong></span></p>
<p style="text-align: center;">COMARCA DE BELO HORIZONTE</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>CERTID&Atilde;O DE JUNTADA</strong></p>
<p>"Certifico e dou f&eacute; que, em cumprimento &agrave;s determina&ccedil;&otilde;es deste ju&iacute;zo, foram expedidos e anexados aos autos os seguintes documentos: mandado n&atilde;o cumprido.&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>