<div id="j_id1159:j_id1160:38:j_id1161" style="text-align: center;"><span style="font-size: medium;"><img style="width: 50px; float: left;" title="Arraste para o documento" src="/pje/img/TJbrasaoMini.png" alt="" /></span></div>
<p><span style="font-size: medium;"> </span></p>
<p style="text-align: center;"><span style="font-size: medium;"><br /></span></p>
<p><span style="font-size: medium;"> </span></p>
<p style="text-align: center;"><span style="font-size: medium;"><br /></span></p>
<p><span style="font-size: medium;"> </span></p>
<p style="text-align: center;"><span style="font-size: medium;"><strong>PODER JUDICI&Aacute;RIO DO ESTADO DE MINAS GERAIS</strong></span></p>
<p><span style="font-size: medium;"> </span></p>
<p style="text-align: center;"><span style="font-size: medium;">COMARCA DE BELO HORIZONTE</span></p>
<p><span style="font-size: medium;"> </span></p>
<p style="text-align: center;"><span style="font-size: medium;">3&ordf; Vara Regional do Barreiro</span></p>
<p><span style="font-size: medium;"> </span></p>
<p style="text-align: center;"><span style="font-size: medium;">Avenida Sinfr&ocirc;nio Brochado, 835, Barreiro, BELO HORIZONTE - MG - CEP: 30640-000</span></p>
<p><span style="font-size: medium;"> </span></p>
<p><span style="font-size: medium;"><br /></span></p>
<p><span style="font-size: medium;"> </span></p>
<p><span style="font-size: medium;">PROCESSO N&ordm; 6001131-08.2014.8.13.0024</span></p>
<p><span style="font-size: medium;"> </span></p>
<p><span style="font-size: medium;">CLASSE: INTERDI&Ccedil;&Atilde;O (58)</span></p>
<p><span style="font-size: medium;"> </span></p>
<p><span style="font-size: medium;">ASSUNTO: [Tutela e Curatela, Capacidade]</span></p>
<p><span style="font-size: medium;"> </span></p>
<p><span style="font-size: medium;">REQUERENTE: FRANCISCA DE ASSIS DE SOUZA DA ASSUNCAO </span></p>
<p><span style="font-size: medium;"> </span></p>
<p><span style="font-size: medium;">REQUERIDO: MILTON DE SOUZA <br /></span></p>
<p><span style="font-size: medium;"> </span></p>
<p><span style="font-size: medium;"><br /></span></p>
<p><span style="font-size: medium;"> </span></p>
<p><span style="font-size: medium;">DESPACHO</span></p>
<p><span style="font-size: medium;"><br /></span></p>
<p><span style="font-size: medium;">Declarada a incompet&ecirc;ncia do ju&iacute;zo, baixem-se e arquivem-se os autos.<br /></span></p>
<p><span style="font-size: medium;"> </span></p>
<p style="padding-left: 90px;"><span style="font-size: medium;"><br /></span></p>
<p><span style="font-size: medium;"> </span></p>
<p style="padding-left: 90px;"><span style="font-size: medium;"><br /></span></p>
<p><span style="font-size: medium;"> </span></p>
<p><span style="font-size: medium;">BELO HORIZONTE, 12 de agosto de 2014<br /></span></p>