<div id="j_id1159:j_id1160:38:j_id1161" style="text-align: center;"><img style="width: 50px; float: left;" title="Arraste para o documento" src="/pje/img/TJbrasaoMini.png" alt="" /></div>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>PODER JUDICI&Aacute;RIO DO ESTADO DE MINAS GERAIS</strong></p>
<p style="text-align: center;">COMARCA DE SETE LAGOAS</p>
<p style="text-align: center;">1ª Vara de Família e Sucessões de Sete Lagoas</p>
<p style="text-align: center;">Rua José Duarte de Paiva, 715, Jardim Cambuí, Centro, SETE LAGOAS - MG - CEP: 35700-059</p>
<p>&nbsp;</p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;">PROCESSO N&ordm; 5000134-04.2015.8.13.0672</span></span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;">CLASSE: INVENTÁRIO (39)</span></span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;">ASSUNTO: [Inventário e Partilha]</span></span></p>
<p>REQUERENTE: EDNA CAMPOLINA TEIXEIRA DA MOTTA
</p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;">INVENTARIADO: JOSUE GOMES DA MOTTA
<br /></span></span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p style="padding-left: 90px;"><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p style="padding-left: 90px;"><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p style="padding-left: 90px;"><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p style="padding-left: 90px;"><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;"><br /></span></span></p>
<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: small;">SETE LAGOAS, 15 de junho de 2015<br /></span></span></p>